<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on rails tutorial at the
  <a href="http://railstutorial.jp/help">Rails tutorial help page</a>
  To get help on this sample app, see the
  <a href="http://railstutorial.jp/#ebook"><em>Ruby on Rrails Tutorial</em>book</a>
</p>
