<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save changes") %>
<% provide(:request_to, user_path) %>

<h1>Update your porfile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'users/form' %>
    <div class="gravatar_edit">
      <%- gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
    </div>
  </div>
</div>